{% extends layout %}
{% block main %}
    <div style="width: fit-content; margin: auto">
        <h1>{{ user.get_full_name }}</h1>
        <img src="{{ user.avatar.url }}" height="150">
        <ul style="float: right">
            <li>{{ user.email }}</li>
            <li>{{ user.date_joined }}</li>
            {% if user.is_staff %}<li>Is staff</li>{% endif %}
            {% if user.is_superuser %}<li>Is Superuser</li>{% endif %}
            <li><a href="{% url 'user_delete' %}">Delete user</a></li>
        </ul>
    </div>
{% endblock %}